img {
  height: 300px;
  margin-right: auto;
}

.movie {
  width: 33%;
  display: inline-block;

}

.body {
  margin-left: auto;
  position: absolute;
  z-index: 2;
  width: 18.5rem;
  height: 18.5rem;
  background-color: red;
  opacity: 0.5;
  filter: Alpha(opacity=50);
}
